  


.contentContainer {        
    min-width: 35rem;
    margin: 0 3rem; 
    border-top: 3px solid #fff;
}

.contentContainer h1 {
    text-align: center;
    margin: 1rem 0;
}

.presents p, .experience p, .homeContainer p {
    text-align: justify;
    margin: 2rem;
}
