.academicContainer {
    border-top: 3px solid #fff;
    margin: 0 3rem;

    height: 50rem;

    overflow-y: scroll;
    
}

.academicContainer h1 {
    text-align: center;
    margin: 1rem 0;
}

.imageContainer {
    display : flex;   
    
    margin-top: 2rem;
}

.imageContainer p {
    margin-left: 3rem;
}

.imageContainer img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;

    border: 2px solid #e2e2e4;
}
