.homeContainer {        
    margin: 0 3rem; 
    border-top: 3px solid #fff;    
}

.homeContainer h1 {
    text-align: center;
    margin: 1rem 0;
}

.homeContainer p {
    text-align: justify;
    margin: 2rem;
}